.body {
  background-image: url("../Image/Home.png");
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  height: 96vh;
  width: 95vw;
  display: flex;
  background-repeat: no-repeat;
  top: 0%;
  left: 0%;
}

/* Media Query para dispositivos móviles */
@media (max-width: 480px) {
  .body {
    height: auto;
    width: 100%;
  }
}

.button,
.button1,
.button2,
.button4 {
  background-image: url(../Image/3.avif);
  color: #fff;
  border: 5%;
  border-color: #f5eef1;
  position: fixed;
  height: 40px;
  padding: 0 2em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
}

.button {
  bottom: 30px;
  right: 230px;
}

.button1 {
  bottom: 90px;
  left: 160px;
}

.button2 {
  bottom: 170px;
  left: 380px;
}

.button4 {
  bottom: 110px;
  right: 280px;
}

/* Media Query para ajustar posición de los botones en dispositivos móviles */
@media (max-width: 482px) {
  .button,
  .button1,
  .button2,
  .button4 {
    position: relative;
    bottom: auto;
    right: auto;
    left: auto;
    justify-content: left;
    align-items: left;
    margin-bottom: 10px;
  }
}
