.body {
   
    background-image: url("../Image/About.png");
    background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0); 
  height: 96vh;
  width: 95vw;
  display: flex;
  background-repeat: no-repeat;
   top: 0%;
  left: 0%;

    }



    